.footer {
  box-shadow: 2px 2px 2px 1px #9AB973;
  background: #FCFBF9;
  width: 100%;
  margin: auto;
}

.footer p {
  margin: 20px 0;
  padding-bottom: 40px;
  text-align: center;
  color: #9AB973;
  font-size: 1em;
}
