/* Navigation bar styles ============= */

.navbar {
  background: #FCFBF9;
  height: 30px;
  display: flex;
  justify-items: center;
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
  border-color: rgba(34, 34, 34, 0.05);
  color: #9AB973;
  transition: all 0.35s;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  
}

.nav-item {
  align-content: space-between;
}

.navbar-expand-lg {
align-content: space-evenly;
}

.navbar ul {
  align-items: center;
  margin: auto;
}

.navbar li {
  border-color: #e5e4e2;
  list-style-type: none;
}

.navbar a {
  color: #9AB973;
  font-size: 14px;
  text-decoration: none;
  margin: auto;
  line-height: 1;
}


.navbar a:hover {
  color: #bfc1c2;
}

.navbar:hover,
.navbar:focus {
  color: #9AB973;
}

.navbar-toggler {
  font-size: 12px;
  color: #9AB973;
}

.navbar > li > a {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}