.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card {
    background: #bfc1c1;
    margin: 1em;
    flex-direction: row;
    box-shadow: 2px 2px 7px 1px #9AB973;
    max-height: 100%;
  }

  .cards > img:first-child {
    min-height: 100%;
  }
  
  .card > .img-container {
    overflow: hidden;
    background:#ffffff;
  }

  .card > .img-container > img {
    width: 100%;
  }
  
  .card > .content {
    padding-right: 1rem;
    font-size: 12px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin: auto;
    margin-top: 1em;
    align-items: baseline;
  }

